@model btthweb.Models.FormViewModel.CreateUserViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link href="/fontend/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/fontend/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user">
                                @using (Html.BeginForm("CreateUser", "Internal", FormMethod.Post, new { @class = "col-md-12   mrg25T" }))
                                {
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user" id="exampleinputemail" placeholder="Account"
                                               @Html.TextBoxFor(x => x.Users.UserName, new { @class = "form-control" })
                                               @Html.ValidationMessageFor(x => x.Users.FullName)
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Fullname"
                                               @Html.TextBoxFor(x => x.Users.FullName, new { @class = "form-control" })
                                               @Html.ValidationMessageFor(x => x.Users.FullName)
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address"
                                               @Html.TextBoxFor(x => x.Users.Email, new { @class = "form-control" })
                                               @Html.ValidationMessageFor(x => x.Users.Email)
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Phone"
                                               @Html.TextBoxFor(x => x.Users.Phone, new { @class = "form-control" })
                                               @Html.ValidationMessageFor(x => x.Users.Phone)
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="note"
                                               @Html.TextBoxFor(x => x.Users.Note, new { @class = "form-control" })
                                               @Html.ValidationMessageFor(x => x.Users.Note)
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Active"
                                               @Html.TextBoxFor(x => x.Users.Active, new { @class = "form-control" })
                                               @Html.ValidationMessageFor(x => x.Users.Active)
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Active"
                                               @Html.TextBoxFor(x => x.Users.RegionID, new { @class = "form-control" })
                                               @Html.ValidationMessageFor(x => x.Users.RegionID)
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password"
                                                   @Html.TextBoxFor(x => x.Users.Password, new { @class = "form-control" })
                                                   @Html.ValidationMessageFor(x => x.Users.Password)
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repeat Password"
                                                   @*@Html.TextBoxFor(x => x.Users.Password, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Users.Password)*@
                                        </div>
                                    </div>
                                    <a href="@Url.Action("Login","Login")" class="btn btn-primary btn-user btn-block">
                                        Register Account
                                    </a>
                                    <hr>
                                    <a href="index.html" class="btn btn-google btn-user btn-block">
                                        <i class="fab fa-google fa-fw"></i> Register with Google
                                    </a>
                                    <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                        <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                    </a>
                                }

                            </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="#">Already have an account? Login!</a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/fontend/vendor/jquery/jquery.min.js"></script>
    <script src="/fontend/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/fontend/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/fontend/js/sb-admin-2.min.js"></script>

</body>

</html>
