@model btthweb.Models.FormViewModel.CreateProduct
@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Views/share/_layout.cshtml";
}

<div class="row">
    @*@Html.Partial("Menu")*@
    <div class="col-sm-9">
        @*//content here*@
        <div class="container-fluid">

            <div class="">
                <div class="center-content row">

                    <div class="col-md-12 center-margin mrg25T">

                        <div class="">
                            <div class=" row">

                                <div class="font-black text-center">
                                    <h2>Sửa Thông Tin Sản Phẩm</h2>
                                </div>
                                @using (Html.BeginForm("UpdateProduct", "Internal", FormMethod.Post, new { @class = "col-md-12   mrg25T" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(x => x.SanPham.ID)
                                    <div class="form-group">
                                        <span>Tên Sản Phẩm</span>
                                        @Html.TextBoxFor(x => x.SanPham.Tensp, new { @class = "form-control disabled" })
                                        @Html.ValidationMessageFor(x => x.SanPham.Tensp)
                                    </div>
                                    <div class="form-group">
                                        <span>Giá</span>
                                        @Html.TextBoxFor(x => x.SanPham.Gia, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.SanPham.Gia)
                                    </div>
                                    <div class="form-group">
                                        <span>Mô Tả Sản Phẩm</span>
                                        @Html.TextBoxFor(x => x.SanPham.MoTaSP, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.SanPham.MoTaSP)
                                    </div>

                                    <div class="form-group">
                                        <span>Ảnh</span>
                                        <input type="file"
                                               @Html.TextBoxFor(x => x.SanPham.Anh, new { @class = "form-control" })
                                               @Html.ValidationMessageFor(x => x.SanPham.Anh)
                                    </div>

                                    <div class="form-group">
                                        @Html.ValidationMessage("")
                                    </div>
                                    <button class="btn btn-info btn-block">UPDATE</button>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

